services:
  sysmo-usim-tool:
    image: johneff/sysmo-usim-tool:latest
    build: .
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: host
